.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}




.card {
  display: block;
  width: 50px;
  margin-top: 20px;
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

[class*="rows"] {
	margin-bottom: 1em;
  justify-content: center;
  float: left;
}

.card-text{
  padding: 15px;
  font-size: 20px;
}


.card-block{
  padding: 5px;
  background:white;
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
  width: auto;
  margin: 1vw;
  display:inline-block;

  box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.41);
  -webkit-border-radius: 12px;
border-radius: 12px;
}




